/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, em, img, small, strong, dl, dt, dd, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, footer, header, menu, nav, ruby, section, audio, video { border : 0; font-size : 100%; font : inherit; vertical-align : baseline; margin : 0; padding : 0 }

article, aside, footer, header, menu, nav, section { display : block }

body { line-height : 1 }

ol, ul { list-style : none }

blockquote, q { quotes : none }

blockquote:before, blockquote:after, q:before, q:after { content : none }

table { border-collapse : collapse; border-spacing : 0 }

body {
    background-color : #FFFFFF;
    display          : block;
    overflow         : hidden;
    }

#header {
    width  : 100%;
    height : 60px;
    border : 1px solid #FFFFFF;
    }

#header-table table {
    display : inline;
    float   : right;
    margin  : 0 17px 0 0;
    border  : 1px solid #FFFFFF;
    }

#header-table table td {
    height         : 50px;
    width          : 46px;
    vertical-align : middle;
    border         : 1px solid #FFFFFF;
    }

.header-table-anchor-div {
    border : 1px solid #FFFFFF;
    }

#header-table table a {
    text-decoration : none;
    font-family     : arial, sans-serif;
    font-size       : small;
    color           : #404040;
    border          : 1px solid #FFFFFF;
    }

#header-table table a:hover {
    text-decoration : underline;
    }

#htad1 {
    padding : 3px 0 0 3px;
    }

#htad2 {
    padding : 2px 10px 0 0;
    }

#htad3 {
    padding : 3px 2px 0 0;
    }

#image1 {
    width      : 18px;
    height     : 20px;
    background : url("../images/n3X3tiles.png") no-repeat;
    margin     : 5px 0 0 15px;
    }

#image1:hover {
    width      : 18px;
    height     : 20px;
    background : url("../images/n3X3tiles2.png") no-repeat;
    margin     : 5px 0 0 15px;
    }

#image2 {
    width      : 20px;
    height     : 26px;
    background : url("../images/bellicon.png") no-repeat;
    margin     : 8px 0 0 8px;
    }

#image2:hover {
    width      : 20px;
    height     : 26px;
    background : url("../images/bellicon2.png") no-repeat;
    margin     : 8px 0 0 8px;
    }

#image3 {
    width      : 34px;
    height     : 30px;
    background : url("../images/plusicon.png") no-repeat;
    margin     : 10px 0 0 9px;
    }

#image3:hover {
    width      : 34px;
    height     : 30px;
    background : url("../images/plusicon2.png") no-repeat;
    margin     : 10px 0 0 9px;
    }

#image4 {
    width      : 40px;
    height     : 40px;
    background : url("../images/personicon.png") no-repeat;
    margin     : 7px 0 0 0;
    }

#outside-logo-Wrap {
    margin : 112px 0 20px 0;
    height : 103px;
    width  : 100%;
    border : 1px solid #FFFFFF;
    }

#logo {
    width  : 350px;
    border : 1px solid #FFFFFF;
    margin : 10px auto 0 auto;
    }

#logo img {
    margin : 0 0 0 32px;
    border : 1px solid #FFFFFF;
    }

#fullWidthSearchWrapper {
    display : inline-block;
    width   : 100%;
    height  : 50px;
    border  : solid 1px #FFFFFF;
    padding : 0 0 0 0;
    margin  : 0 0 2px 0;
    }

#fullWidthSearchWrapper td {
    height         : 50px;
    vertical-align : middle;
    padding        : 0 0 0 0;
    margin         : 0 0 0 0;
    }

#searchWrapper {
    height : 48px;
    width  : 610px;
    border : solid 1px #FFFFFF;
    margin : 0 auto;
    }

#searchInputBox {
    width     : 570px;
    min-width : 570px;
    height    : 26px;
    border    : 1px solid #D7D5D5;
    margin    : 0 0 0 20px;
    }

#searchInputBox:hover {
    width     : 570px;
    min-width : 570px;
    height    : 26px;
    border    : 1px solid #B2B2B2;
    margin    : 0 0 0 20px;
    }

#searchInputBox:focus {
    width     : 570px;
    min-width : 570px;
    height    : 26px;
    border    : 1px solid #4285F4;
    margin    : 0 0 0 20px;
    }

#microphone {
    margin  : 4PX 4PX 0 -29px;
    padding : 0 0 0 0;
    }

#buttons {
    background-color : #FFFFFF;
    width            : 100%;
    height           : 34px;
    margin           : 0 0 39px 0;
    }

#buttons table {
    margin : auto;
    }

#buttons input {
    font-font   : Arial, sans-serif;
    font-size   : 11px;
    font-weight : 700;
    color       : #474545;
    border      : 1px solid #d6d4d4;
    padding     : 7px;
    }

#buttons input:hover {
    font-font   : Arial, sans-serif;
    font-size   : 11px;
    font-weight : 700;
    color       : #202020;
    border      : 1px solid #c1bdbd;
    padding     : 7px;
    }

#buttons input:focus {
    font-font   : Arial, sans-serif;
    font-size   : 11px;
    font-weight : 700;
    color       : #444444;
    border      : 1px solid #4285F4;
    padding     : 7px;
    }

#tdSpacer {
    padding : 0 9px;
    }

#offered-in {
    background-color : #FFFFFF;
    width            : 100%;
    height           : 28px;
    border           : 1px solid #FFFFFF;
    }

#offered-in table {
    margin : auto;
    }

#offered-in table tr td span {
    font-family : arial, sans-serif;
    font-size   : small;
    color       : #222222;
    }

#offered-in table tr td a {
    font-family     : arial, sans-serif;
    font-size       : small;
    color           : #1020C0;
    text-decoration : none;
    }

#offered-in table tr td a:hover {
    font-family     : arial, sans-serif;
    font-size       : small;
    color           : #1020C0;
    text-decoration : underline;
    }

#offered-in table tr td a:visited {
    font-family     : arial, sans-serif;
    font-size       : small;
    color           : #660099;
    text-decoration : underline;
    }

#footerWrapper {
    position : absolute;
    bottom   : 0;
    width    : 100%;
    height   : 30px;
    }

#footer {
    display          : inline-block;
    background-color : #FFFFFF;
    width            : 100%;
    height           : 16px;
    border           : 1px solid #FFFFFF;
    margin           : 0 0 0 0;
    }

#footer a {
    font-family     : arial, sans-serif;
    font-size       : small;
    text-decoration : none;
    color           : #606060;
    padding         : 16px;
    }

#footer a:hover {
    font-family     : arial, sans-serif;
    font-size       : small;
    text-decoration : underline;
    color           : #606060;
    padding         : 16px;
    }

#footer a:active {
    font-family     : arial, sans-serif;
    font-size       : small;
    text-decoration : underline;
    color           : #DD4B39;
    padding         : 16px;
    }

#leftFooter {
    float  : left;
    margin : 0 0 0 13px;
    }

#rightFooter {
    float  : right;
    margin : 0 14px 0 0;
    }
